{{ header }}
<div class="latest-darvin">
  <div> {% for product in products_darvin %}
    <div> {{ product.name }} </div>
    <div> <img src="{{ product.thumb }}"> </div>
<div> <a href=" {{ product.href }}">{{ product.name}}</a> </div>
  {% endfor %} </div>
</div>
<div id="common-home" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}